---

const pgTitle1 = "Site Main Index";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pgTitle1}</title>
	</head>
	<body>
		<h1>********************************</h1>
		<h1>***   Initial Astro Tutorial Project   ***</h1>
		<h1>********************************</h1>
		<h1></h1>
		<h1>-----------------------------------</h1>
    <h1>Tutorial Index initialization</h1>
		<h1>-----------------------------------</h1>
		<h1>{pgTitle1}</h1>
		<li><a href="/about/">About</a></li>
		<li><a href="/blog/">Blog</a></li>
	</body>
</html>

